# customers/service.yaml
apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: customers-service # Nombre del servicio en Cloud Run
  labels:
    cloud.googleapis.com/location: us-central1
spec:
  template:
    metadata:
      # CRÍTICO: La anotación de Cloud SQL va en los metadatos del TEMPLATE (Revisión)
      annotations:
        run.googleapis.com/cloudsql-instances: practica2-477009:us-central1:id-postgres-bd
    spec:
      containers:
      - image: us-central1-docker.pkg.dev/practica2-477009/reservas-vehiculo/customers-service
        env:
        # 1. Variables de entorno de Django para la lógica del socket
        - name: DJANGO_SETTINGS_MODULE
          value: reservas_vehiculos.settings
        - name: CLOUDSQL_CONNECTION_NAME
          value: practica2-477009:us-central1:id-postgres-bd
        - name: POSTGRES_DB
          value: reservas_db
        # 2. Inyección de Secretos (USER y PASSWORD)
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: USER # Nombre de tu secreto en Secret Manager
              key: latest
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: PASSWORD # Nombre de tu secreto en Secret Manager
              key: latest
      # 3. Cuenta de Servicio (Confirmada por ti)
      serviceAccountName: 57187527650-compute@developer.gserviceaccount.com